dist: xenial
os: linux
language: minimal
sudo: required
services:
  - docker
env:
  global:
    - REPO=https://github.com/bitcoin/bitcoin.git
    - COMMIT=ef70f9b52b851c7997a9f1a0834714e3eebc1fd8
    - TARGETHOST=aarch64-linux-android
    - BITS=64
  matrix:
    - UNUSED=true
    - TARGETHOST=armv7a-linux-androideabi BITS=32
    - TARGETHOST=x86_64-linux-android
    - TARGETHOST=i686-linux-android BITS=32

script:
  - docker run -v $PWD:/repo debian:stretch /bin/bash -c "/repo/stretch_deps.sh && /repo/fetchbuild.sh $REPO $COMMIT $TARGETHOST $BITS /repo" 
